<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="_templates_ :: template-header"/>
<body>
<div th:replace="_templates_ :: navbar-home"/>

<h1 class="text-center">My Items</h1>

<div th:if="${param.success}" class="container justify-content-center">
    <div class="alert alert-info">Item Successfully added!</div>
</div>

<div class="container" th:if="${param.successdeleted}">
    <div class="alert alert-info text-center">Item deleted.</div>
</div>


<div class="container justify-content-center">
    <br>
    <a class="nav-link justify-content-center" th:href="@{/addItem}">
    <button type="button"  class="btn-primary rounded btn-lg">Add Item</button>
    </a>
</div>

<div class="container" th:if="${items.isEmpty()}">
    <h5 class="alert" style="font-style: italic;">Oops, you don't have any items.</h5>
</div>

<div class="container">
    <!--For Page-->
    <div th:each="listitem : ${items}" class="page">
        <!--For Row containing all card-->
        <div class="row">
            <!--Card 1-->
            <div th:each="item : ${listitem}" class="col-sm-4">
                <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
                    <!--Card image-->
                    <div class="view view-cascade overlay text-center"> <img class="card-img-top" th:src="'data:image/jpeg;base64,' + ${item.getImageEncoded()}" height="200" width="auto"> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a> </div>
                    <!--Card Body-->
                    <div class="card-body card-body-cascade text-center">
                        <!--Card Title-->
                        <h4 class="card-title"><strong><a href="" th:text="${item.getTitle()}"></a></strong></h4> <!-- Card Description-->
                        <p class="card-text" th:text="${item.getDescription()}">This is a Mobile phone with all the advance features and at best price. </p>
                        <p class="card-text">Contact : <span th:text="${item.getEmail()}"> </span></p>
                        <p class="price" >Rp <span th:text="${item.getPrice()}"></span></p>
                        <!--Card footer-->
                        <div class="row justify-content-center">
                            <a class="col-sm-auto" th:href="@{/home}">
                                <div class="btn-primary btn-lg">
                                    EDIT
                                </div>
                            </a>
                            <a class="col-sm-auto" th:href="@{/MyItem/deleteItem?id=}+${item.getId()}">
                                <div class="btn-danger btn-lg" >
                                    DELETE
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="_templates_ :: bottom-script"/>
</body>
</html>