<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>2nd Tech Store</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">2ndTechStore</a>
        <ul class="navbar-nav navbar-center">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/registration}">Register</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <h1>2nd Tech Store</h1>
    <p>Products shows here</p>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
</body>
</html>